@import "vars.scss";

.s-color-bg-gray-1 {
  background-color: $s-color-gray-1;
}
.s-color-bg-gray-2 {
  background-color: $s-color-gray-2;
}
.s-color-bg-gray-3 {
  background-color: $s-color-gray-3;
}
.s-color-bg-gray-4 {
  background-color: $s-color-gray-4;
}
.s-color-bg-gray-5 {
  background-color: $s-color-gray-5;
}
.s-color-bg-gray-6 {
  background-color: $s-color-gray-6;
}
.s-color-bg-gray-7 {
  background-color: $s-color-gray-7;
}
.s-color-bg-gray-8 {
  background-color: $s-color-gray-8;
}
.s-color-bg-gray-9 {
  background-color: $s-color-gray-9;
}

.s-color-bg-primary-1 {
  background-color: $s-color-primary-1;
}
.s-color-bg-primary-2 {
  background-color: $s-color-primary-2;
}
.s-color-bg-primary-3 {
  background-color: $s-color-primary-3;
}
.s-color-bg-primary-4 {
  background-color: $s-color-primary-4;
}
.s-color-bg-primary-5 {
  background-color: $s-color-primary-5;
}
.s-color-bg-primary-6 {
  background-color: $s-color-primary-6;
}
.s-color-bg-primary-7 {
  background-color: $s-color-primary-7;
}
.s-color-bg-primary-8 {
  background-color: $s-color-primary-8;
}
.s-color-bg-primary-9 {
  background-color: $s-color-primary-9;
}

.s-color-bg-secondary-1 {
  background-color: $s-color-secondary-1;
}
.s-color-bg-secondary-2 {
  background-color: $s-color-secondary-2;
}
.s-color-bg-secondary-3 {
  background-color: $s-color-secondary-3;
}
.s-color-bg-secondary-4 {
  background-color: $s-color-secondary-4;
}
.s-color-bg-secondary-5 {
  background-color: $s-color-secondary-5;
}
.s-color-bg-secondary-6 {
  background-color: $s-color-secondary-6;
}
.s-color-bg-secondary-7 {
  background-color: $s-color-secondary-7;
}
.s-color-bg-secondary-8 {
  background-color: $s-color-secondary-8;
}
.s-color-bg-secondary-9 {
  background-color: $s-color-secondary-9;
}
