@import "vars.scss";

.s-color-font-gray-1 {
  color: $s-color-gray-1;
}
.s-color-font-gray-2 {
  color: $s-color-gray-2;
}
.s-color-font-gray-3 {
  color: $s-color-gray-3;
}
.s-color-font-gray-4 {
  color: $s-color-gray-4;
}
.s-color-font-gray-5 {
  color: $s-color-gray-5;
}
.s-color-font-gray-6 {
  color: $s-color-gray-6;
}
.s-color-font-gray-7 {
  color: $s-color-gray-7;
}
.s-color-font-gray-8 {
  color: $s-color-gray-8;
}
.s-color-font-gray-9 {
  color: $s-color-gray-9;
}

.s-color-font-primary-1 {
  color: $s-color-primary-1;
}
.s-color-font-primary-2 {
  color: $s-color-primary-2;
}
.s-color-font-primary-3 {
  color: $s-color-primary-3;
}
.s-color-font-primary-4 {
  color: $s-color-primary-4;
}
.s-color-font-primary-5 {
  color: $s-color-primary-5;
}
.s-color-font-primary-6 {
  color: $s-color-primary-6;
}
.s-color-font-primary-7 {
  color: $s-color-primary-7;
}
.s-color-font-primary-8 {
  color: $s-color-primary-8;
}
.s-color-font-primary-9 {
  color: $s-color-primary-9;
}

.s-color-font-secondary-1 {
  color: $s-color-secondary-1;
}
.s-color-font-secondary-2 {
  color: $s-color-secondary-2;
}
.s-color-font-secondary-3 {
  color: $s-color-secondary-3;
}
.s-color-font-secondary-4 {
  color: $s-color-secondary-4;
}
.s-color-font-secondary-5 {
  color: $s-color-secondary-5;
}
.s-color-font-secondary-6 {
  color: $s-color-secondary-6;
}
.s-color-font-secondary-7 {
  color: $s-color-secondary-7;
}
.s-color-font-secondary-8 {
  color: $s-color-secondary-8;
}
.s-color-font-secondary-9 {
  color: $s-color-secondary-9;
}
