@import "../vars/general.json";

.s-color-gray-1 {
  color: $s-color-gray-1;
}
.s-color-gray-2 {
  color: $s-color-gray-2;
}
.s-color-gray-3 {
  color: $s-color-gray-3;
}
.s-color-gray-4 {
  color: $s-color-gray-4;
}
.s-color-gray-5 {
  color: $s-color-gray-5;
}
.s-color-gray-6 {
  color: $s-color-gray-6;
}
.s-color-gray-7 {
  color: $s-color-gray-7;
}
.s-color-gray-8 {
  color: $s-color-gray-8;
}
.s-color-gray-9 {
  color: $s-color-gray-9;
}

.s-color-primary-1 {
  color: $s-color-primary-1;
}
.s-color-primary-2 {
  color: $s-color-primary-2;
}
.s-color-primary-3 {
  color: $s-color-primary-3;
}
.s-color-primary-4 {
  color: $s-color-primary-4;
}
.s-color-primary-5 {
  color: $s-color-primary-5;
}
.s-color-primary-6 {
  color: $s-color-primary-6;
}
.s-color-primary-7 {
  color: $s-color-primary-7;
}
.s-color-primary-8 {
  color: $s-color-primary-8;
}
.s-color-primary-9 {
  color: $s-color-primary-9;
}

.s-color-positive {
  color: $s-color-positive;
}
.s-color-negative {
  color: $s-color-negative;
}
