$s-color-gray-1: #f0f0f2;
$s-color-gray-2: #ececf0;
$s-color-gray-3: #e9e9ee;
$s-color-gray-4: #cfcfd6;
$s-color-gray-5: #b6b6be;
$s-color-gray-6: #92929e;
$s-color-gray-7: #6e6e7e;
$s-color-gray-8: #393855;
$s-color-gray-9: #05032d;

$s-color-primary-1: #cacbee;
$s-color-primary-2: #afb1e5;
$s-color-primary-3: #9598dd;
$s-color-primary-4: #6065cd;
$s-color-primary-5: #2c32bd;
$s-color-primary-6: #292fb3;
$s-color-primary-7: #272ca9;
$s-color-primary-8: #1d2284;
$s-color-primary-9: #13175f;

$s-color-secondary-1: #eee8ca;
$s-color-secondary-2: #e5dbaf;
$s-color-secondary-3: #ddcf95;
$s-color-secondary-4: #cdb860;
$s-color-secondary-5: #bda12c;
$s-color-secondary-6: #b39829;
$s-color-secondary-7: #a99127;
$s-color-secondary-8: #84711d;
$s-color-secondary-9: #5f5013;

$s-color-positive: #46d38e;
$s-color-negative: #e74e4b;
